@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Brak dostępu";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nie masz dostępu do tego zasobu.</p>
</header>
