@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie resetowania hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Sprawdź swoją skrzynkę pocztową, aby zresetować hasło.
</p>
