@page
@model LoginModel

@{
    ViewData["Title"] = "Zaloguj się";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <h4 class="text-center">Zaloguj się, aby kontynuować.</h4>
                <hr />
                <div class="form-group mb-3">
                    <label asp-for="Input.Email" class="font-weight-bold">Adres e-mail:</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Input.Password" class="font-weight-bold">Hasło:</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" class="form-check-input" />
                            <label asp-for="Input.RememberMe" class="form-check-label">Zapamiętaj mnie</label>
                        </label>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Zaloguj się</button>
                </div>
                <div class="form-group text-center">
                    <p>
                        Nie masz jeszcze konta? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Zarejestruj się</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
