@page
@model RegisterModel
@{
    ViewData["Title"] = "Rejestracja";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4 class="text-center">Załóż nowe konto</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Input.Email" class="font-weight-bold">Adres e-mail:</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.FirstName" class="font-weight-bold">Imię:</label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.LastName" class="font-weight-bold">Nazwisko:</label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.DateOfBirth" class="font-weight-bold">Data urodzenia:</label>
                <input asp-for="Input.DateOfBirth" class="form-control" />
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bold">Płeć:</label>
                <div class="btn-group" data-toggle="buttons">
                    <label class="form-check-label">
                        <input asp-for="Input.Gender" type="radio" value="Mężczyzna" /> Mężczyzna
                    </label>
                    <label class="form-check-label">
                        <input asp-for="Input.Gender" type="radio" value="Kobieta" /> Kobieta
                    </label>
                </div>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.Password" class="font-weight-bold">Hasło:</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.ConfirmPassword" class="font-weight-bold">Potwierdź hasło:</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Zarejestruj się</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
