@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie resetu hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało zresetowane. <a asp-page="./Login">Zaloguj się tutaj.</a>.
</p>
