@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Konfiguruj aplikację uwierzytelniającą";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div>
    <p>Aby używać aplikacji uwierzytelniającej, wykonaj następujące kroki:</p>
    <ol class="list">
        <li>
            <p>
                Pobierz aplikację uwierzytelniającą z dwuetapową weryfikacją, taką jak Microsoft Authenticator, dla
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> i
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> lub
                Google Authenticator dla
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> and
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Zeskanuj kod QR lub wprowadź ten klucz <kbd>@Model.SharedKey</kbd> do swojej aplikacji uwierzytelniającej z dwuetapową weryfikacją. Spacje i wielkość liter nie mają znaczenia.</p>
            <div class="alert alert-info">Naucz się, jak <a href="https://go.microsoft.com/fwlink/?Linkid=852423">włączyć generowanie kodu QR</a>.</div>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>
                Gdy zeskanujesz kod QR lub wprowadzisz powyższy klucz, Twoja aplikacja uwierzytelniająca z dwuetapową weryfikacją wygeneruje unikalny kod. Wprowadź ten kod w polu potwierdzenia poniżej.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-group">
                            <label asp-for="Input.Code" class="control-label">Kod weryfikacyjny</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Weryfikacja</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
