@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Zresetuj klucz uwierzytelniający";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Jeśli zresetujesz swój klucz uwierzytelniający, aplikacja uwierzytelniająca przestanie działać do momentu ponownej konfiguracji.</strong>
    </p>
    <p>
        Ten proces dezaktywuje dwuskładnikową weryfikację, dopóki nie zweryfikujesz swojej aplikacji uwierzytelniającej. Jeśli nie ukończysz konfiguracji aplikacji uwierzytelniającej, możesz stracić dostęp do swojego konta.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Zresetuj klucz uwierzytelniający</button>
    </form>
</div>